*{
    margin: 0px;
}
body{
    background: #121212;
}
p{
    color:#fff
}
a{
    color: #c08aff;
    text-decoration: none;
    font-weight: bold;
}
img {
    border-radius: 50%;
  }
.container{
    width:50%;
    margin:auto;
}
.tweet__container{
    height:auto;
    background: #212121;
    width:100%;
    margin-bottom:10px;
    padding:20px;
    border-radius: 10px;
}
/* .tweet__container:nth-of-type(odd){
    background: #242424;
} */

.sub__container{
    margin-left:10%;
    margin-top: 10px;
    margin-bottom:10px;
    background: #323232;
    padding:15px;
    border-radius: 10px;
}

.tweet__header{
    margin-bottom:10px;
}
